
.col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 80vh;
    justify-content: space-between;
}
.alignRightExtreme {
    align-self: flex-end;
    margin-left: auto;
}

#scanText {
    background-color: black;
}