/* #square {
    height: 10rem;
    width:  10rem;
    background-color: white
} */

.bdayGirlPicture {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 10/15;
}

.bdayGirlPictureContainer {
    padding: 3rem 2rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 1);
    background-color: white;
}

.videosContainer {
    background-color: red;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

video {
    width: 20%;
}

#iLove {
    color: rgba(255, 0, 123, 0.577);
    border-radius: 10rem;
    text-decoration: underline;
    text-shadow: 0px 2px 10px rgba(256, 0, 0, 1);
    cursor: pointer;
}

#iLove:hover {
    text-shadow: none;
}