.videosContainer {
    background-color: black;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    display: flex;
}

.outerBorder {
    width: 33.33%;
    padding: 2rem;
    display: flex;
}

.video {
    background-color: white;
    padding: 2rem 1rem;
    width: 100%;
}
