body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#landingPage {
  min-height:100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.shapeObjectTitle {
  width: 60%;
}

.shapeObject {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shapeObject:hover {
  cursor: pointer;
}

.clickable {
  font-size: 1rem;
}

.relative {
  position: relative;
  overflow: auto
}

.backButton {
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 166, 0, 0.613);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 1);
  text-align: center;
}


.backButton:hover {
  cursor: pointer;
}



.objectsContainer {
  width: 80%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

@media only screen and (max-width: 400px) {
  #desktopSite {
    display: none;
  }
}
